body
{
    text-align: center;
    font-family: "Arial";
    color : #333;

}


#cabecera
{
    background:  #88F ;
    color : white;

    padding: 0.5em;
}

#contenedor
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border : 1px solid #DDD;

}